extends ./template/template.jade

block title
	title Блог кулинара

block content
	.container
		// BEGIN SIDE-CONTENT 
		.side-content
			// BEGIN TITLE 
			.title
				h1.title__text Блог кулинара
			// END TITLE 

			// BEGIN BLOG-CARD 
			.blog-card
				.blog-card__top-line
					.sides
						.blog-card__author
							img(src="img/author-photo.jpg", alt="").blog-card__img
						.blog-card__description
							h2.blog-card__title
								a(href="#").blog-card__title-link Интересные факты о сладостях
							p.blog-card__infos
								span.blog-card__info 
									i.icon.icon_calc.blog-card__icon
									| 01.02.2016
								span.blog-card__info 
									i.icon.icon_author.blog-card__icon
									| Денис Калпунов
								span.blog-card__info 
									i.icon.icon_count.blog-card__icon
									| 223 просмотра
				.blog-card__content
					.colums
						.blog-card__preview
							img(src="img/blog-preview.jpg", alt="")
						.blog-card__text
							p.blog-card__p Слово «конфеты» пришло из европейского аптекарского жаргона XVI века. Этим словом, образованным от латинского confectum («изготовленный»), назывались засахаренные фрукты, которые в те времена считались одним из видов лекарств.
							p.blog-card__p Интересный факт: в средневековой Италии было принято осыпать молодоженов мелкими засахаренными кусочками фруктов, которые назывались «конфетти». С течением времени сладости были заменены на кусочки разноцветной бумаги, на которые и «перекочевало» это название.
							p.blog-card__p Содержание сахара в современных конфетах составляет около 70%.
							p.blog-card__p Интересный факт: исследование американских социологов показало, что люди, угощающие своих коллег конфетами, более успешны в карьерном плане, чем их «жадные» конкуренты.
							p.blog-card__p В первой половине XIX века в России даже самые богатые и знатные дамы воровали конфеты с различных торжеств. Это объяснялось тем, что кондитерских фабрик еще не существовало, конфеты готовили домашние кондитеры, ревностно охранявшие свои секреты, поэтому это лакомство было буквально на вес золота.


					a(href="#").button.button_broun_border.blog-card__button Читать дальше
			// END BLOG-CARD 
			// BEGIN BLOG-CARD 
			.blog-card
				.blog-card__top-line
					.sides
						.blog-card__author
							img(src="img/author-photo.jpg", alt="").blog-card__img
						.blog-card__description
							h2.blog-card__title
								a(href="#").blog-card__title-link Интересные факты о сладостях
							p.blog-card__infos
								span.blog-card__info 
									i.icon.icon_calc.blog-card__icon
									| 01.02.2016
								span.blog-card__info 
									i.icon.icon_author.blog-card__icon
									| Денис Калпунов
								span.blog-card__info 
									i.icon.icon_count.blog-card__icon
									| 223 просмотра
				.blog-card__content
					.colums
						.blog-card__preview
							img(src="img/blog-preview.jpg", alt="")
						.blog-card__text
							p.blog-card__p Слово «конфеты» пришло из европейского аптекарского жаргона XVI века. Этим словом, образованным от латинского confectum («изготовленный»), назывались засахаренные фрукты, которые в те времена считались одним из видов лекарств.
							p.blog-card__p Интересный факт: в средневековой Италии было принято осыпать молодоженов мелкими засахаренными кусочками фруктов, которые назывались «конфетти». С течением времени сладости были заменены на кусочки разноцветной бумаги, на которые и «перекочевало» это название.
							p.blog-card__p Содержание сахара в современных конфетах составляет около 70%.
							p.blog-card__p Интересный факт: исследование американских социологов показало, что люди, угощающие своих коллег конфетами, более успешны в карьерном плане, чем их «жадные» конкуренты.
							p.blog-card__p В первой половине XIX века в России даже самые богатые и знатные дамы воровали конфеты с различных торжеств. Это объяснялось тем, что кондитерских фабрик еще не существовало, конфеты готовили домашние кондитеры, ревностно охранявшие свои секреты, поэтому это лакомство было буквально на вес золота.
						

					a(href="#").button.button_broun_border.blog-card__button Читать дальше
			// END BLOG-CARD 
			// BEGIN BLOG-CARD 
			.blog-card
				.blog-card__top-line
					.sides
						.blog-card__author
							img(src="img/author-photo.jpg", alt="").blog-card__img
						.blog-card__description
							h2.blog-card__title
								a(href="#").blog-card__title-link Интересные факты о сладостях
							p.blog-card__infos
								span.blog-card__info 
									i.icon.icon_calc.blog-card__icon
									| 01.02.2016
								span.blog-card__info 
									i.icon.icon_author.blog-card__icon
									| Денис Калпунов
								span.blog-card__info 
									i.icon.icon_count.blog-card__icon
									| 223 просмотра
				.blog-card__content
					.colums
						.blog-card__preview
							img(src="img/blog-preview.jpg", alt="")
						.blog-card__text
							p.blog-card__p Слово «конфеты» пришло из европейского аптекарского жаргона XVI века. Этим словом, образованным от латинского confectum («изготовленный»), назывались засахаренные фрукты, которые в те времена считались одним из видов лекарств.
							p.blog-card__p Интересный факт: в средневековой Италии было принято осыпать молодоженов мелкими засахаренными кусочками фруктов, которые назывались «конфетти». С течением времени сладости были заменены на кусочки разноцветной бумаги, на которые и «перекочевало» это название.
							p.blog-card__p Содержание сахара в современных конфетах составляет около 70%.
							p.blog-card__p Интересный факт: исследование американских социологов показало, что люди, угощающие своих коллег конфетами, более успешны в карьерном плане, чем их «жадные» конкуренты.
							p.blog-card__p В первой половине XIX века в России даже самые богатые и знатные дамы воровали конфеты с различных торжеств. Это объяснялось тем, что кондитерских фабрик еще не существовало, конфеты готовили домашние кондитеры, ревностно охранявшие свои секреты, поэтому это лакомство было буквально на вес золота.


					a(href="#").button.button_broun_border.blog-card__button Читать дальше
			// END BLOG-CARD 
		// END SIDE-CONTENT 



