extends ./template/template.jade

block title
	title ФОТОТОРТЫ

block content
	// BEGIN TITLE 
	.container
		.side-content
			.title-price
				.title-price__side.title-price__side_l
					.title
						h1.title__text ФОТОТОРТЫ
				.title-price__side.title-price__side_r
					.top__price от 
						span.title__price-number 1500 <span class="rubl_30 rubl_black">Р</span>/КГ
	// END TITLE 

	// BEGIN THREE-COLUMS 
	.three-colums
		.container
			.side-content
				.colums
					.col-2.col-2-m
						// BEGIN CAKE-CARD 
						.cake-card
							a(href="#").cake-card__link
								.cake-card__preview
								h3.cake-card__title Фототорт №Ф1
								.cake-card__btn-price
									a(href="#").button.button_broun.cake-card__button Заказать

						// END CAKE-CARD 
					.col-2.col-2-m
						// BEGIN CAKE-CARD 
						.cake-card
							a(href="#").cake-card__link
								.cake-card__preview
								h3.cake-card__title Фототорт №Ф1
								.cake-card__btn-price
									a(href="#").button.button_broun.cake-card__button Заказать
						// END CAKE-CARD 
					.col-2.col-2-m
						// BEGIN CAKE-CARD 
						.cake-card
							a(href="#").cake-card__link
								.cake-card__preview
								h3.cake-card__title Фототорт №Ф1
								.cake-card__btn-price
									a(href="#").button.button_broun.cake-card__button Заказать
						// END CAKE-CARD 
					.col-2.col-2-m
						// BEGIN CAKE-CARD 
						.cake-card
							a(href="#").cake-card__link
								.cake-card__preview
								h3.cake-card__title Фототорт №Ф1
								.cake-card__btn-price
									a(href="#").button.button_broun.cake-card__button Заказать
						// END CAKE-CARD 
					.col-2.col-2-m
						// BEGIN CAKE-CARD 
						.cake-card
							a(href="#").cake-card__link
								.cake-card__preview
								h3.cake-card__title Фототорт №Ф1
								.cake-card__btn-price
									a(href="#").button.button_broun.cake-card__button Заказать
						// END CAKE-CARD 
					.col-2.col-2-m
						// BEGIN CAKE-CARD 
						.cake-card
							a(href="#").cake-card__link
								.cake-card__preview
								h3.cake-card__title Фототорт №Ф1
								.cake-card__btn-price
									a(href="#").button.button_broun.cake-card__button Заказать
						// END CAKE-CARD 
					.col-2.col-2-m
						// BEGIN CAKE-CARD 
						.cake-card
							a(href="#").cake-card__link
								.cake-card__preview
								h3.cake-card__title Фототорт №Ф1
								.cake-card__btn-price
									a(href="#").button.button_broun.cake-card__button Заказать
						// END CAKE-CARD 
					.col-2.col-2-m
						// BEGIN CAKE-CARD 
						.cake-card
							a(href="#").cake-card__link
								.cake-card__preview
								h3.cake-card__title Фототорт №Ф1
								.cake-card__btn-price
									a(href="#").button.button_broun.cake-card__button Заказать
						// END CAKE-CARD 
					.col-2.col-2-m
						// BEGIN CAKE-CARD 
						.cake-card
							a(href="#").cake-card__link
								.cake-card__preview
								h3.cake-card__title Фототорт №Ф1
								.cake-card__btn-price
									a(href="#").button.button_broun.cake-card__button Заказать
						// END CAKE-CARD 

				// BEGIN BTN-STILL 
				.btn-still
					a(href="javascript:;").button.button_broun_border.button_still 
						span.btn-still__text Показать еще
				// END BTN-STILL 
	// END THREE-COLUMS 


	// BEGIN CONTENT 
	.content
		.container
			.side-content
				hr.hr
				p.content__text Превосходный способ сделать любимым необычный сюрприз – сладкий и оригинальный. <br>Зная предпочтения и хобби дорогого Вам человека, легко воплотить их в фотографией! <br>Преподнесите мужчине элегантный шоколадный торт, романтичной девушке – нежный с медвежатами, а любителю активного отдыха – с рыбаком или охотником.
	// END CONTENT 