extends ./template/template.jade

block title
	title ТОРТ НА ЗАКАЗ

block content
	.container
		.side-content
			// BEGIN TITLE 
			.title
				h1.title__text Торт на заказ
			// END TITLE 

			// BEGIN DESCRIPTION 
			.description
				p.description__title.description__title_bold Сладкие шедевры ручной работы – многоярусные торты, настоящие сказочные истории из сахара и крема и веселые сюрпризы для Ваших любимых.
				p.description__text Воздушное тесто, нежные сливочные кремы и фруктовые муссы, свежие сочные ягоды и легкая йогуртовая начинка – сказочное сочетание ингредиентов и фантазийного декора тортов подарит истинное наслаждение всем любителям сладкого!
			// END DESCRIPTION 



	// BEGIN SECTION-SLIDER 
	.section-slider
		.slider-dots
			.container
				.side-content
					.slider-dot
		.slider
			// BEGIN SLIDER__ITEM 
			.slider__item
				.container
					.side-content
						p.slider__text <span class="bold">Наши торты готовятся только из натуральных ингредиентов – </span>свежих сочных фруктов и ягод, отборной пшеничной и миндальной муки, цельных сливок, легкого творога и аппетитного желе. Из множества сладких основ с разнообразными начинками Вы можете выбрать любимую или попробовать новые вкусы.
			// END SLIDER__ITEM 
			// BEGIN SLIDER__ITEM 
			.slider__item
				.container
					.side-content
						p.slider__text <span class="bold">Наши торты готовятся только из натуральных ингредиентов – </span>свежих сочных фруктов и ягод, отборной пшеничной и миндальной муки, цельных сливок, легкого творога и аппетитного желе. Из множества сладких основ с разнообразными начинками Вы можете выбрать любимую или попробовать новые вкусы.
			// END SLIDER__ITEM 
			// BEGIN SLIDER__ITEM 
			.slider__item
				.container
					.side-content
						p.slider__text <span class="bold">Наши торты готовятся только из натуральных ингредиентов – </span>свежих сочных фруктов и ягод, отборной пшеничной и миндальной муки, цельных сливок, легкого творога и аппетитного желе. Из множества сладких основ с разнообразными начинками Вы можете выбрать любимую или попробовать новые вкусы.
			// END SLIDER__ITEM 
			// BEGIN SLIDER__ITEM 
			.slider__item
				.container
					.side-content
						p.slider__text <span class="bold">Наши торты готовятся только из натуральных ингредиентов – </span>свежих сочных фруктов и ягод, отборной пшеничной и миндальной муки, цельных сливок, легкого творога и аппетитного желе. Из множества сладких основ с разнообразными начинками Вы можете выбрать любимую или попробовать новые вкусы.
			// END SLIDER__ITEM 

	// END SECTION-SLIDER 


	.container
		// BEGIN SIDE-CONTENT 
		.side-content
			// BEGIN ORDER-STAGE 
			.order-stage
				h2.h2 Заказать торт очень просто
				.order-stage__items
					.order-stage__line
					// BEGIN ORDER-STAGE__ITEM 
					.order-stage__item
						.order-stage__round
							.order-stage__round-content
								i.icon.icon_cake.order-stage__icon
						p.order-stage__text
							a(href="#").order-stage__link Выберите торт из каталога
					// END ORDER-STAGE__ITEM 
					// BEGIN ORDER-STAGE__ITEM 
					.order-stage__item
						.order-stage__round
							.order-stage__round-content
								i.icon.icon_weight.order-stage__icon
						p.order-stage__text Укажите желаемый вес
					// END ORDER-STAGE__ITEM 
					// BEGIN ORDER-STAGE__ITEM 
					.order-stage__item
						.order-stage__round
							.order-stage__round-content
								i.icon.icon_filling.order-stage__icon
						p.order-stage__text Подберите начинку
					// END ORDER-STAGE__ITEM 
					// BEGIN ORDER-STAGE__ITEM 
					.order-stage__item
						.order-stage__round
							.order-stage__round-content
								i.icon.icon_order.order-stage__icon
						p.order-stage__text Оформить заказ
					// END ORDER-STAGE__ITEM 
			// END ORDER-STAGE 

			// BEGIN CAKE-BY-SKETCH 
			.cake-by-sketch
				.cake-by-sketch__content
					i.icon.icon_cap.cake-by-sketch__icon
					h2.cake-by-sketch__text У ВАС ЕСТЬ ВОЗМОЖНОСТЬ ЗАКАЗАТЬ ТОРТ ПО СОБСТВЕННОМУ ЭСКИЗУ!
					a(href="#").button.button_broun.cake-by-sketch__button Создать свой торт
			// END CAKE-BY-SKETCH 

			// BEGIN MAIN-CAKES 
			.main-cakes
				h2.main-cakes__title Торты на заказ
				.colums.main-cakes__colums
					.col-4.col_m_r
						// BEGIN MAIN-CAKES-ITEM 
						.main-cakes-item
							a(href="#").main-cakes-item__link
								.main-cakes-item__preview
									.main-cakes-item__price от 1900 
										span.rubl Р
								.main-cakes-item__description
									h3.main-cakes-item__title Детские торты
									p.main-cakes-item__text Желанный сюрприз ко дню рождения, юбилею, годовщине, профессиональному или любому другому празднику.
						// END MAIN-CAKES-ITEM 
					.col-2
						// BEGIN MAIN-CAKES-ITEM 
						.main-cakes-item
							a(href="#").main-cakes-item__link
								.main-cakes-item__preview
									.main-cakes-item__price от 1900 
										span.rubl Р
								.main-cakes-item__description
									h3.main-cakes-item__title Подарочные торты
									p.main-cakes-item__text Желанный сюрприз ко дню рождения, юбилею, годовщине.
						// END MAIN-CAKES-ITEM 
					.col-2.col_m_r
						// BEGIN MAIN-CAKES-ITEM 
						.main-cakes-item
							a(href="#").main-cakes-item__link
								.main-cakes-item__preview
									.main-cakes-item__price от 1900 
										span.rubl Р
								.main-cakes-item__description
									h3.main-cakes-item__title Детские торты
									p.main-cakes-item__text Желанный сюрприз ко дню рождения, юбилею, годовщине.
						// END MAIN-CAKES-ITEM 
						.colums
							// BEGIN MAIN-CAKES-ITEM-MINI 
							.main-cakes-item-mini.main-cakes-item-mini_m_t
								.main-cakes-item-mini__content
									a(href="#").main-cakes-item-mini__link
										.main-cakes-item__price от 1900 
												span.rubl Р
										p.main-cakes-item-mini__text Подарочные торты
							// END MAIN-CAKES-ITEM-MINI 
							// BEGIN MAIN-CAKES-ITEM-MINI 
							.main-cakes-item-mini.main-cakes-item-mini_m_t
								.main-cakes-item-mini__content
									a(href="#").main-cakes-item-mini__link
										.main-cakes-item__price от 1900 
												span.rubl Р
										p.main-cakes-item-mini__text Подарочные торты
							// END MAIN-CAKES-ITEM-MINI 

					.col-2.col_m_r
						.colums
							// BEGIN MAIN-CAKES-ITEM-MINI 
							.main-cakes-item-mini.main-cakes-item-mini_m_b
								.main-cakes-item-mini__content
									a(href="#").main-cakes-item-mini__link
										.main-cakes-item__price от 1900 
												span.rubl Р
										p.main-cakes-item-mini__text Подарочные торты
							// END MAIN-CAKES-ITEM-MINI 
							// BEGIN MAIN-CAKES-ITEM-MINI 
							.main-cakes-item-mini.main-cakes-item-mini_m_b
								.main-cakes-item-mini__content
									a(href="#").main-cakes-item-mini__link
										.main-cakes-item__price от 1900 
												span.rubl Р
										p.main-cakes-item-mini__text Подарочные торты
							// END MAIN-CAKES-ITEM-MINI 
						// BEGIN MAIN-CAKES-ITEM 
						.main-cakes-item
							a(href="#").main-cakes-item__link
								.main-cakes-item__preview
									.main-cakes-item__price от 1900 
										span.rubl Р
								.main-cakes-item__description
									h3.main-cakes-item__title Детские торты
									p.main-cakes-item__text Желанный сюрприз ко дню рождения, юбилею, годовщине.
						// END MAIN-CAKES-ITEM 
					.col-2
						// BEGIN MAIN-CAKES-ITEM 
						.main-cakes-item
							a(href="#").main-cakes-item__link
								.main-cakes-item__preview
									.main-cakes-item__price от 1900 
										span.rubl Р
								.main-cakes-item__description
									h3.main-cakes-item__title Детские торты
									p.main-cakes-item__text Желанный сюрприз ко дню рождения, юбилею, годовщине.
						// END MAIN-CAKES-ITEM 
						.colums
							// BEGIN MAIN-CAKES-ITEM-MINI 
							.main-cakes-item-mini.main-cakes-item-mini_m_t
								.main-cakes-item-mini__content
									a(href="#").main-cakes-item-mini__link
										.main-cakes-item__price от 1900 
												span.rubl Р
										p.main-cakes-item-mini__text Подарочные торты
							// END MAIN-CAKES-ITEM-MINI 
							// BEGIN MAIN-CAKES-ITEM-MINI 
							.main-cakes-item-mini.main-cakes-item-mini_m_t
								.main-cakes-item-mini__content
									a(href="#").main-cakes-item-mini__link
										.main-cakes-item__price от 1900 
												span.rubl Р
										p.main-cakes-item-mini__text Подарочные торты
							// END MAIN-CAKES-ITEM-MINI 
			// END MAIN-CAKES 

			// BEGIN CAKE-FILLING 
			.cake-filling
				h2.h2 Начинки
				.cake-filling__list
					// BEGIN CAKE-FILLING__ITEM 
					.cake-filling__item
						img(src="img/cake-filling.jpg", alt="").cake-filling__preview
						p.cake-filling__name Ореховая начинка
					// END CAKE-FILLING__ITEM 
					// BEGIN CAKE-FILLING__ITEM 
					.cake-filling__item
						img(src="img/cake-filling.jpg", alt="").cake-filling__preview
						p.cake-filling__name Ореховая начинка
					// END CAKE-FILLING__ITEM 
					// BEGIN CAKE-FILLING__ITEM 
					.cake-filling__item
						img(src="img/cake-filling.jpg", alt="").cake-filling__preview
						p.cake-filling__name Ореховая начинка
					// END CAKE-FILLING__ITEM 
					// BEGIN CAKE-FILLING__ITEM 
					.cake-filling__item
						img(src="img/cake-filling.jpg", alt="").cake-filling__preview
						p.cake-filling__name Ореховая начинка
					// END CAKE-FILLING__ITEM 
					// BEGIN CAKE-FILLING__ITEM 
					.cake-filling__item
						img(src="img/cake-filling.jpg", alt="").cake-filling__preview
						p.cake-filling__name Ореховая начинка
					// END CAKE-FILLING__ITEM 
					// BEGIN CAKE-FILLING__ITEM 
					.cake-filling__item
						img(src="img/cake-filling.jpg", alt="").cake-filling__preview
						p.cake-filling__name Ореховая начинка
					// END CAKE-FILLING__ITEM 
					// BEGIN CAKE-FILLING__ITEM 
					.cake-filling__item
						img(src="img/cake-filling.jpg", alt="").cake-filling__preview
						p.cake-filling__name Ореховая начинка
					// END CAKE-FILLING__ITEM 
					// BEGIN CAKE-FILLING__ITEM 
					.cake-filling__item
						img(src="img/cake-filling.jpg", alt="").cake-filling__preview
						p.cake-filling__name Ореховая начинка
					// END CAKE-FILLING__ITEM 
					// BEGIN CAKE-FILLING__ITEM 
					.cake-filling__item
						img(src="img/cake-filling.jpg", alt="").cake-filling__preview
						p.cake-filling__name Ореховая начинка
					// END CAKE-FILLING__ITEM 
					// BEGIN CAKE-FILLING__ITEM 
					.cake-filling__item
						img(src="img/cake-filling.jpg", alt="").cake-filling__preview
						p.cake-filling__name Ореховая начинка
					// END CAKE-FILLING__ITEM 
			// END CAKE-FILLING 
			// BEGIN REVIEWS 
			.reviews
				h2.h2 Отзывы
				hr.hr.reviews__hr
				form(action="/").reviews__form
					textarea(name="", rows="10").textarea.reviews__textarea
					.button-container
						button(type="submit").button.button_broun.reviews__button Оставить отзыв
			// END REVIEWS 
			// BEGIN SOCIAL 
			.social
				.colums
					.vk
						img(src="img/vk.png", alt="")
					.fb
						img(src="img/fb.png", alt="")
			// END SOCIAL 
		// END SIDE-CONTENT 


