extends ./template/template.jade

block title
	title ГОТОВЫЕ ТОРТЫ

block content
	// BEGIN TITLE 
	.container
		.side-content
			.title
				h1.title__text готовые торты
	// END TITLE 

	// BEGIN DESCRIPTION 
	.container
		.side-content
			.description
				p.description__subtitle В ассортименте кондитерской продукции компании «9 Островов» представлены торты, пирожные, <br>печенье и кексы.
	// END DESCRIPTION 

	// BEGIN FILTER 
	.container
		.side-content
			.filter
				ul.filter__list
					li.filter__item
						a(href="#").filter__link.active Весь ассортимент
					li.filter__item
						a(href="#").filter__link Страна Чудес
					li.filter__item
						a(href="#").filter__link Торталье
					li.filter__item
						a(href="#").filter__link  Rifotta Crema
					li.filter__item
						a(href="#").filter__link 9 островов
					li.filter__item
						a(href="#").filter__link Чайная линия
					li.filter__item
						a(href="#").filter__link Эконом
				.filter__still
					span.button.button_broun.filter__button Показать фильтры

	// END FILTER 

	// BEGIN THREE-COLUMS 
	.three-colums
		.container
			.side-content
				.colums
					.col-2.col-2-m
						// BEGIN CAKE-CARD 
						.cake-card
							a(href="#").cake-card__link
								.cake-card__preview(style="background-image:url(img/cake-finished.jpg)")
								h3.cake-card__title.cake-card__title_tdn Торт творожный «Панчо»
								.cake-card__btn-price
									.cake-card__btn.cake-card__btn_big
										a(href="#").button.button_broun.cake-card__button Где купить
									.cake-card__price.cake-card__price_small от 
										span.card-price 500 <span class="rubl">Р</span>
						// END CAKE-CARD 
					.col-2.col-2-m
						// BEGIN CAKE-CARD 
						.cake-card
							a(href="#").cake-card__link
								.cake-card__preview(style="background-image:url(img/cake-finished.jpg)")
								h3.cake-card__title.cake-card__title_tdn Торт творожный «Панчо»
								.cake-card__btn-price
									.cake-card__btn.cake-card__btn_big
										a(href="#").button.button_broun.cake-card__button Где купить
									.cake-card__price.cake-card__price_small от 
										span.card-price 500 <span class="rubl">Р</span>
						// END CAKE-CARD 
					.col-2.col-2-m
						// BEGIN CAKE-CARD 
						.cake-card
							a(href="#").cake-card__link
								.cake-card__preview(style="background-image:url(img/cake-finished.jpg)")
								h3.cake-card__title.cake-card__title_tdn Торт творожный «Панчо»
								.cake-card__btn-price
									.cake-card__btn.cake-card__btn_big
										a(href="#").button.button_broun.cake-card__button Где купить
									.cake-card__price.cake-card__price_small от 
										span.card-price 500 <span class="rubl">Р</span>
						// END CAKE-CARD 
					.col-2.col-2-m
						// BEGIN CAKE-CARD 
						.cake-card
							a(href="#").cake-card__link
								.cake-card__preview(style="background-image:url(img/cake-finished.jpg)")
								h3.cake-card__title.cake-card__title_tdn Торт творожный «Панчо»
								.cake-card__btn-price
									.cake-card__btn.cake-card__btn_big
										a(href="#").button.button_broun.cake-card__button Где купить
									.cake-card__price.cake-card__price_small от 
										span.card-price 500 <span class="rubl">Р</span>
						// END CAKE-CARD 
					.col-2.col-2-m
						// BEGIN CAKE-CARD 
						.cake-card
							a(href="#").cake-card__link
								.cake-card__preview(style="background-image:url(img/cake-finished.jpg)")
								h3.cake-card__title.cake-card__title_tdn Торт творожный «Панчо»
								.cake-card__btn-price
									.cake-card__btn.cake-card__btn_big
										a(href="#").button.button_broun.cake-card__button Где купить
									.cake-card__price.cake-card__price_small от 
										span.card-price 500 <span class="rubl">Р</span>
						// END CAKE-CARD 
					.col-2.col-2-m
						// BEGIN CAKE-CARD 
						.cake-card
							a(href="#").cake-card__link
								.cake-card__preview(style="background-image:url(img/cake-finished.jpg)")
								h3.cake-card__title.cake-card__title_tdn Торт творожный «Панчо»
								.cake-card__btn-price
									.cake-card__btn.cake-card__btn_big
										a(href="#").button.button_broun.cake-card__button Где купить
									.cake-card__price.cake-card__price_small от 
										span.card-price 500 <span class="rubl">Р</span>
						// END CAKE-CARD 
					.col-2.col-2-m
						// BEGIN CAKE-CARD 
						.cake-card
							a(href="#").cake-card__link
								.cake-card__preview(style="background-image:url(img/cake-finished.jpg)")
								h3.cake-card__title.cake-card__title_tdn Торт творожный «Панчо»
								.cake-card__btn-price
									.cake-card__btn.cake-card__btn_big
										a(href="#").button.button_broun.cake-card__button Где купить
									.cake-card__price.cake-card__price_small от 
										span.card-price 500 <span class="rubl">Р</span>
						// END CAKE-CARD 
					.col-2.col-2-m
						// BEGIN CAKE-CARD 
						.cake-card
							a(href="#").cake-card__link
								.cake-card__preview(style="background-image:url(img/cake-finished.jpg)")
								h3.cake-card__title.cake-card__title_tdn Торт творожный «Панчо»
								.cake-card__btn-price
									.cake-card__btn.cake-card__btn_big
										a(href="#").button.button_broun.cake-card__button Где купить
									.cake-card__price.cake-card__price_small от 
										span.card-price 500 <span class="rubl">Р</span>
						// END CAKE-CARD 
					.col-2.col-2-m
						// BEGIN CAKE-CARD 
						.cake-card
							a(href="#").cake-card__link
								.cake-card__preview(style="background-image:url(img/cake-finished.jpg)")
								h3.cake-card__title.cake-card__title_tdn Торт творожный «Панчо»
								.cake-card__btn-price
									.cake-card__btn.cake-card__btn_big
										a(href="#").button.button_broun.cake-card__button Где купить
									.cake-card__price.cake-card__price_small от 
										span.card-price 500 <span class="rubl">Р</span>
						// END CAKE-CARD 

				// BEGIN BTN-STILL 
				.btn-still
					a(href="javascript:;").button.button_broun_border.button_still 
						span.btn-still__text Показать еще
				// END BTN-STILL 
	// END THREE-COLUMS 

