extends ./template/template.jade

block title
	title КАТАЛОГ ТОРТОВ НА ЗАКАЗ

block content
	// BEGIN TITLE 
	.container
		.side-content
			.title
				h1.title__text КАТАЛОГ ТОРТОВ НА ЗАКАЗ
	// END TITLE 

	// BEGIN DESCRIPTION 
	.container
		.side-content
			.description
				p.description__title.description__title_bold Вы можете подобрать себе торт подходящий для Вашего события или просто побаловать себя и своих близких сладким подарком!
	// END DESCRIPTION 

	// BEGIN MAIN-CAKES 
	.main-cakes
		.container
			// BEGIN SIDE-CONTENT 
			.side-content
				.colums.main-cakes__colums
					.col-4.col_m_r
						// BEGIN MAIN-CAKES-ITEM 
						.main-cakes-item
							a(href="#").main-cakes-item__link
								.main-cakes-item__preview
									.main-cakes-item__price от 1900 
										span.rubl Р
								.main-cakes-item__description
									h3.main-cakes-item__title Детские торты
									p.main-cakes-item__text Желанный сюрприз ко дню рождения, юбилею, годовщине, профессиональному или любому другому празднику.
						// END MAIN-CAKES-ITEM 
					.col-2
						// BEGIN MAIN-CAKES-ITEM 
						.main-cakes-item
							a(href="#").main-cakes-item__link
								.main-cakes-item__preview
									.main-cakes-item__price от 1900 
										span.rubl Р
								.main-cakes-item__description
									h3.main-cakes-item__title Подарочные торты
									p.main-cakes-item__text Желанный сюрприз ко дню рождения, юбилею, годовщине.
						// END MAIN-CAKES-ITEM 
					.col-2.col_m_r
						// BEGIN MAIN-CAKES-ITEM 
						.main-cakes-item
							a(href="#").main-cakes-item__link
								.main-cakes-item__preview
									.main-cakes-item__price от 1900 
										span.rubl Р
								.main-cakes-item__description
									h3.main-cakes-item__title Детские торты
									p.main-cakes-item__text Желанный сюрприз ко дню рождения, юбилею, годовщине.
						// END MAIN-CAKES-ITEM 
						.colums
							// BEGIN MAIN-CAKES-ITEM-MINI 
							.main-cakes-item-mini.main-cakes-item-mini_m_t
								.main-cakes-item-mini__content
									a(href="#").main-cakes-item-mini__link
										.main-cakes-item__price от 1900 
												span.rubl Р
										p.main-cakes-item-mini__text Подарочные торты
							// END MAIN-CAKES-ITEM-MINI 
							// BEGIN MAIN-CAKES-ITEM-MINI 
							.main-cakes-item-mini.main-cakes-item-mini_m_t
								.main-cakes-item-mini__content
									a(href="#").main-cakes-item-mini__link
										.main-cakes-item__price от 1900 
												span.rubl Р
										p.main-cakes-item-mini__text Подарочные торты
							// END MAIN-CAKES-ITEM-MINI 

					.col-2.col_m_r
						.colums
							// BEGIN MAIN-CAKES-ITEM-MINI 
							.main-cakes-item-mini.main-cakes-item-mini_m_b
								.main-cakes-item-mini__content
									a(href="#").main-cakes-item-mini__link
										.main-cakes-item__price от 1900 
												span.rubl Р
										p.main-cakes-item-mini__text Подарочные торты
							// END MAIN-CAKES-ITEM-MINI 
							// BEGIN MAIN-CAKES-ITEM-MINI 
							.main-cakes-item-mini.main-cakes-item-mini_m_b
								.main-cakes-item-mini__content
									a(href="#").main-cakes-item-mini__link
										.main-cakes-item__price от 1900 
												span.rubl Р
										p.main-cakes-item-mini__text Подарочные торты
							// END MAIN-CAKES-ITEM-MINI 
						// BEGIN MAIN-CAKES-ITEM 
						.main-cakes-item
							a(href="#").main-cakes-item__link
								.main-cakes-item__preview
									.main-cakes-item__price от 1900 
										span.rubl Р
								.main-cakes-item__description
									h3.main-cakes-item__title Детские торты
									p.main-cakes-item__text Желанный сюрприз ко дню рождения, юбилею, годовщине.
						// END MAIN-CAKES-ITEM 
					.col-2
						// BEGIN MAIN-CAKES-ITEM 
						.main-cakes-item
							a(href="#").main-cakes-item__link
								.main-cakes-item__preview
									.main-cakes-item__price от 1900 
										span.rubl Р
								.main-cakes-item__description
									h3.main-cakes-item__title Детские торты
									p.main-cakes-item__text Желанный сюрприз ко дню рождения, юбилею, годовщине.
						// END MAIN-CAKES-ITEM 
						.colums
							// BEGIN MAIN-CAKES-ITEM-MINI 
							.main-cakes-item-mini.main-cakes-item-mini_m_t
								.main-cakes-item-mini__content
									a(href="#").main-cakes-item-mini__link
										.main-cakes-item__price от 1900 
												span.rubl Р
										p.main-cakes-item-mini__text Подарочные торты
							// END MAIN-CAKES-ITEM-MINI 
							// BEGIN MAIN-CAKES-ITEM-MINI 
							.main-cakes-item-mini.main-cakes-item-mini_m_t
								.main-cakes-item-mini__content
									a(href="#").main-cakes-item-mini__link
										.main-cakes-item__price от 1900 
												span.rubl Р
										p.main-cakes-item-mini__text Подарочные торты
							// END MAIN-CAKES-ITEM-MINI 
					.col-2.col_m_r
						// BEGIN MAIN-CAKES-ITEM 
						.main-cakes-item
							a(href="#").main-cakes-item__link
								.main-cakes-item__preview
									.main-cakes-item__price от 1900 
										span.rubl Р
								.main-cakes-item__description
									h3.main-cakes-item__title Детские торты
									p.main-cakes-item__text Желанный сюрприз ко дню рождения, юбилею, годовщине.
						// END MAIN-CAKES-ITEM 
					.col-4
						// BEGIN MAIN-CAKES-ITEM 
						.main-cakes-item
							a(href="#").main-cakes-item__link
								.main-cakes-item__preview
									.main-cakes-item__price от 1900 
										span.rubl Р
								.main-cakes-item__description
									h3.main-cakes-item__title Детские торты
									p.main-cakes-item__text Желанный сюрприз ко дню рождения, юбилею, годовщине, профессиональному или любому другому празднику.
						// END MAIN-CAKES-ITEM 
			// END SIDE-CONTENT 
	// END MAIN-CAKES 