extends ./template/template.jade

block title
	title ИСТОРИЯ КОМПАНИИ

block content
	.container
		// BEGIN SIDE-CONTENT 
		.side-content
			// BEGIN TITLE 
			.title
				h1.title__text ИСТОРИЯ КОМПАНИИ
			// END TITLE 
			// BEGIN DESCRIPTION 
			.description
				p.description__title.description__title_bold Кондитерское объединение "Девять островов" основано в городе Екатеринбурге <br>23 октября 2000 года как предприятие по производству тортов и пирожных
			// END DESCRIPTION 

			// BEGIN HISTORY 
			.history
				.history__line.history__line_1
					.history__year.history__year_big.history__year_red
						.history__number 2000
						.history__description Основание компании
					.history__year.history__year_medium.history__year_2001
						.history__number 2001
						.history__description Успешный старт
					.history__year.history__year_medium.history__year_2003
						.history__number 2003
						.history__description Первые достижения
					.history__r-border
				.history__line.history__line_2
					.history__l-border
					.history__year.history__year_small.history__year_2010
						.history__number 2010
						.history__description Стабильное развитие
					.history__year.history__year_big.history__year_2008
						.history__number 2008
						.history__description Лидер банка
					.history__year.history__year_small.history__year_2005
						.history__number 2005
						.history__description Открытие <br>100 торговых точек

				.history__line.history__line_3
					.history__year.history__year_medium.history__year_2012
						.history__number 2012
						.history__description Расширение ассортимента
					.history__year.history__year_medium.history__year_2015
						.history__number 2015
						.history__description Лучшая кондитерская года
					.history__year.history__year_big.history__year_red.history__year_2016
						.history__number 2016
						.history__description Новые горизонты развития
			// END HISTORY 
		// END SIDE-CONTENT 

	// BEGIN YAER-INFO 
	.yaer-info
		.container
			// BEGIN SIDE-CONTENT 
			.side-content
				.colums
					.col-y-3.col-y-3_l
						// BEGIN YEAR-CRAD 
						.yaer-card
							.yaer-card__yaer 2000
							.yaer-card__info
								p.yaer-card__text В декабре 2000 года компания вышла на рынок.
								p.yaer-card__text Первый торт “9 Островов” с нежным тающим кремом, фруктами и орехами пришелся по вкусу многим покупателям.
								p.yaer-card__text До сих пор многие помнят аромат семейных традиций, бережно сохраняемых в нашей продукции.
								p.yaer-card__text Сочетание фруктов, орехов и изысканного крема – сделали торты «Девять островов» лидерами на рынке кондитерских изделий нашего города.
								p.yaer-card__text Именно с тортов «Девять островов» начался отсчет нового времени на рынке кондитерских изделий Уральского региона.
						// END YEAR-CRAD 
						// BEGIN YEAR-CRAD 
						.yaer-card
							.yaer-card__yaer 2001
							.yaer-card__info
								p.yaer-card__text 1 августа 2001 года запущен цех по производству тортов на заказ.
						// END YEAR-CRAD 
						// BEGIN YEAR-CRAD 
						.yaer-card
							.yaer-card__yaer 2002
							.yaer-card__info
								p.yaer-card__text 15 октября 2002 года День Рождения нового бренда – легких тортов и пирожных RIFOTTACREMA
						// END YEAR-CRAD 
						// BEGIN YEAR-CRAD 
						.yaer-card
							.yaer-card__yaer 2003
							.yaer-card__info
								p.yaer-card__text В 2003 году запускаются первые торты для самых маленьких потребителей.
						// END YEAR-CRAD 
						// BEGIN YEAR-CRAD 
						.yaer-card
							.yaer-card__yaer 2006
							.yaer-card__info
								p.yaer-card__text 20 августа 2006 года Начат выпуск новой линейки низкокалорийных сливочно-фруктовых тортов под торговой маркой «Торталье»
						// END YEAR-CRAD 
						// BEGIN YEAR-CRAD 
						.yaer-card
							.yaer-card__yaer 2007
							.yaer-card__info
								p.yaer-card__text В 2007 году кондитерское объединение обращается к клас- сическим рецептам и запускает новую торговую марку «Чайная линия». 
								p.yaer-card__text Многим покупателям пришлись по вкусу знакомые и любимые с детства вкусы тортов: «Медовик», «Наполеон», «Сметанник», «Прага», «Киевский». Регулярное отслеживание потребностей покупателей позволило компании «9 островов» предлагать продукцию для разных целевых групп. 
								p.yaer-card__text Это обеспечило ощутимый прирост доли рынка компании, сейчас доля рынка компании «9 островов» составляет 22-25%.
						// END YEAR-CRAD 
					.col-y-3.col-y-3_r
						// BEGIN YEAR-CRAD 
						.yaer-card
							.yaer-card__yaer 2008
							.yaer-card__info
								p.yaer-card__text В 2008 году начал работу сервис «Прием заказов через интернет». Чтобы заказать торт достаточно зайти на сайт компании, выбрать начинку и оставить свои контакты. Менеджер заказной линии свяжется с Вами в день отправления заявки.
						// END YEAR-CRAD 
						// BEGIN YEAR-CRAD 
						.yaer-card
							.yaer-card__yaer 2009
							.yaer-card__info
								p.yaer-card__text В 2009 году уже расширенная товарная линейка получает название «Страна чудес»
						// END YEAR-CRAD 
						// BEGIN YEAR-CRAD 
						.yaer-card
							.yaer-card__yaer 2009<br>-<br>2016
							.yaer-card__info
								p.yaer-card__text С 2008 года компания развивает собственную розничную сеть. В фирменных торговых точках “9 островов”, расположенных в городе и области всегда широкий ассортимент  свежих тортов.
								p.yaer-card__text Сегодня ассортиментный ряд компании насчитывает более 100 товарных позиций.
								p.yaer-card__text В среднем ежедневные отгрузки тортов составляют 3 тонны. Трудно представить, что все начиналось с маленького цеха площадью 380 кв. м, пятнадцати работников и одного-единственного торта «Девять островов». Сегодня в компании работает более 450 человек. Для мотивации сотрудников в компании действует: Оплата труда, зависящая от результатов работы каждого сотрудника
								p.yaer-card__text Собственный образовательный проект «Школа кондитеров». Включает практическое обучение внутри компании и за ее пределами, регулярное ознакомление с технологиями других городов и стран (мастер-классы отечественных и иностранных технологов). Регулярное проведение аттестаций производственного состава. Именно благодаря профессионализму кондитеров, пекарей и технологов мы добиваемся прекрасных вкусовых характеристик.
						// END YEAR-CRAD 
			// END SIDE-CONTENT 
	// END YAER-INFO 