extends ./template/template.jade

block title
	title Главная страница

block content
	// BEGIN MAIN-BANNER-WRAPPER 
	.main-banner-wrapper
		.dots-container
			.container
				// BEGIN SIDE-CONTENT 
				.side-content
					.main-banner-dots
				// END SIDE-CONTENT 

		// BEGIN MAIN-BANNER 
		.main-banner
			// BEGIN MAIN-BANNER__ITEM 
			.main-banner__item
				.container
					// BEGIN SIDE-CONTENT 
					.side-content
						.main-banner__content
							h2.main-banner__title Заказать торт!
							p.main-banner__text У нас Вы всегда можете подобрать торт, который будет соответствовать вашему вкусу.
							p.main-banner__text Создайте свой собственный празднечный торт!
							a(href="#").button.button_broun_border.main-banner__button Заказать торт
					// END SIDE-CONTENT 
			// END MAIN-BANNER__ITEM 
			// BEGIN MAIN-BANNER__ITEM 
			.main-banner__item
				.container
					// BEGIN SIDE-CONTENT 
					.side-content
						.main-banner__content
							h2.main-banner__title Заказать торт!
							p.main-banner__text У нас Вы всегда можете подобрать торт, который будет соответствовать вашему вкусу.
							p.main-banner__text Создайте свой собственный празднечный торт!
							a(href="#").button.button_broun_border.main-banner__button Заказать торт
					// END SIDE-CONTENT 
			// END MAIN-BANNER__ITEM 
			// BEGIN MAIN-BANNER__ITEM 
			.main-banner__item
				.container
					// BEGIN SIDE-CONTENT 
					.side-content
						.main-banner__content
							h2.main-banner__title Заказать торт!
							p.main-banner__text У нас Вы всегда можете подобрать торт, который будет соответствовать вашему вкусу.
							p.main-banner__text Создайте свой собственный празднечный торт!
							a(href="#").button.button_broun_border.main-banner__button Заказать торт
					// END SIDE-CONTENT 
			// END MAIN-BANNER__ITEM 
		// END MAIN-BANNER 
	// END MAIN-BANNER-WRAPPER 

	// BEGIN MAIN-CAKES 
	.main-cakes
		.container
			// BEGIN SIDE-CONTENT 
			.side-content
				h2.main-cakes__title Торты на заказ
				.colums.main-cakes__colums
					.col-4.col_m_r
						// BEGIN MAIN-CAKES-ITEM 
						.main-cakes-item
							a(href="#").main-cakes-item__link
								.main-cakes-item__preview
									.main-cakes-item__price от 1900 
										span.rubl Р
								.main-cakes-item__description
									h3.main-cakes-item__title Детские торты
									p.main-cakes-item__text Желанный сюрприз ко дню рождения, юбилею, годовщине, профессиональному или любому другому празднику.
						// END MAIN-CAKES-ITEM 
					.col-2
						// BEGIN MAIN-CAKES-ITEM 
						.main-cakes-item
							a(href="#").main-cakes-item__link
								.main-cakes-item__preview
									.main-cakes-item__price от 1900 
										span.rubl Р
								.main-cakes-item__description
									h3.main-cakes-item__title Подарочные торты
									p.main-cakes-item__text Желанный сюрприз ко дню рождения, юбилею, годовщине.
						// END MAIN-CAKES-ITEM 
					.col-2.col_m_r
						// BEGIN MAIN-CAKES-ITEM 
						.main-cakes-item
							a(href="#").main-cakes-item__link
								.main-cakes-item__preview
									.main-cakes-item__price от 1900 
										span.rubl Р
								.main-cakes-item__description
									h3.main-cakes-item__title Детские торты
									p.main-cakes-item__text Желанный сюрприз ко дню рождения, юбилею, годовщине.
						// END MAIN-CAKES-ITEM 
						.colums
							// BEGIN MAIN-CAKES-ITEM-MINI 
							.main-cakes-item-mini.main-cakes-item-mini_m_t
								.main-cakes-item-mini__content
									a(href="#").main-cakes-item-mini__link
										.main-cakes-item__price от 1900 
												span.rubl Р
										p.main-cakes-item-mini__text Подарочные торты
							// END MAIN-CAKES-ITEM-MINI 
							// BEGIN MAIN-CAKES-ITEM-MINI 
							.main-cakes-item-mini.main-cakes-item-mini_m_t
								.main-cakes-item-mini__content
									a(href="#").main-cakes-item-mini__link
										.main-cakes-item__price от 1900 
												span.rubl Р
										p.main-cakes-item-mini__text Подарочные торты
							// END MAIN-CAKES-ITEM-MINI 

					.col-2.col_m_r
						.colums
							// BEGIN MAIN-CAKES-ITEM-MINI 
							.main-cakes-item-mini.main-cakes-item-mini_m_b
								.main-cakes-item-mini__content
									a(href="#").main-cakes-item-mini__link
										.main-cakes-item__price от 1900 
												span.rubl Р
										p.main-cakes-item-mini__text Подарочные торты
							// END MAIN-CAKES-ITEM-MINI 
							// BEGIN MAIN-CAKES-ITEM-MINI 
							.main-cakes-item-mini.main-cakes-item-mini_m_b
								.main-cakes-item-mini__content
									a(href="#").main-cakes-item-mini__link
										.main-cakes-item__price от 1900 
												span.rubl Р
										p.main-cakes-item-mini__text Подарочные торты
							// END MAIN-CAKES-ITEM-MINI 
						// BEGIN MAIN-CAKES-ITEM 
						.main-cakes-item
							a(href="#").main-cakes-item__link
								.main-cakes-item__preview
									.main-cakes-item__price от 1900 
										span.rubl Р
								.main-cakes-item__description
									h3.main-cakes-item__title Детские торты
									p.main-cakes-item__text Желанный сюрприз ко дню рождения, юбилею, годовщине.
						// END MAIN-CAKES-ITEM 
					.col-2
						// BEGIN MAIN-CAKES-ITEM 
						.main-cakes-item
							a(href="#").main-cakes-item__link
								.main-cakes-item__preview
									.main-cakes-item__price от 1900 
										span.rubl Р
								.main-cakes-item__description
									h3.main-cakes-item__title Детские торты
									p.main-cakes-item__text Желанный сюрприз ко дню рождения, юбилею, годовщине.
						// END MAIN-CAKES-ITEM 
						.colums
							// BEGIN MAIN-CAKES-ITEM-MINI 
							.main-cakes-item-mini.main-cakes-item-mini_m_t
								.main-cakes-item-mini__content
									a(href="#").main-cakes-item-mini__link
										.main-cakes-item__price от 1900 
												span.rubl Р
										p.main-cakes-item-mini__text Подарочные торты
							// END MAIN-CAKES-ITEM-MINI 
							// BEGIN MAIN-CAKES-ITEM-MINI 
							.main-cakes-item-mini.main-cakes-item-mini_m_t
								.main-cakes-item-mini__content
									a(href="#").main-cakes-item-mini__link
										.main-cakes-item__price от 1900 
												span.rubl Р
										p.main-cakes-item-mini__text Подарочные торты
							// END MAIN-CAKES-ITEM-MINI 
					.col-2.col_m_r
						// BEGIN MAIN-CAKES-ITEM 
						.main-cakes-item
							a(href="#").main-cakes-item__link
								.main-cakes-item__preview
									.main-cakes-item__price от 1900 
										span.rubl Р
								.main-cakes-item__description
									h3.main-cakes-item__title Детские торты
									p.main-cakes-item__text Желанный сюрприз ко дню рождения, юбилею, годовщине.
						// END MAIN-CAKES-ITEM 
					.col-4
						// BEGIN MAIN-CAKES-ITEM 
						.main-cakes-item
							a(href="#").main-cakes-item__link
								.main-cakes-item__preview
									.main-cakes-item__price от 1900 
										span.rubl Р
								.main-cakes-item__description
									h3.main-cakes-item__title Детские торты
									p.main-cakes-item__text Желанный сюрприз ко дню рождения, юбилею, годовщине, профессиональному или любому другому празднику.
						// END MAIN-CAKES-ITEM 
			// END SIDE-CONTENT 
	// END MAIN-CAKES 

	// BEGIN MAIN-PRODUCTION 
	.main-production
		.container
			// BEGIN SIDE-CONTENT 
			.side-content
				h2.main-production__title Наша продукция
				.colums.main-production__colums
					// BEGIN MAIN-PRODUCTION__ITEM 
					.main-production__item
						.main-production__content
							.main-production__hover
								h3.main-production__subtitle Торты
								p.main-production__text
									a(href="#").main-production__link Пирожное "9 Островов"
									br
									a(href="#").main-production__link Пирожное «Амели»
									br
									a(href="#").main-production__link Пирожное творожное «Rifota Crema»
									br
									a(href="#").main-production__link Пирожное "9 Островов"
									br
									a(href="#").main-production__link Пирожное «Амели»
									br
									a(href="#").main-production__link Пирожное творожное «Rifota Crema»
									br
									a(href="#").main-production__link.main-production__link_all Всё пирожное
					// END MAIN-PRODUCTION__ITEM 
					// BEGIN MAIN-PRODUCTION__ITEM 
					.main-production__item
						.main-production__content
							.main-production__hover
								h3.main-production__subtitle Пироженые
								p.main-production__text
									a(href="#").main-production__link Пирожное "9 Островов"
									br
									a(href="#").main-production__link Пирожное «Амели»
									br
									a(href="#").main-production__link Пирожное творожное «Rifota Crema»
									br
									a(href="#").main-production__link Пирожное "9 Островов"
									br
									a(href="#").main-production__link Пирожное «Амели»
									br
									a(href="#").main-production__link Пирожное творожное «Rifota Crema»
									br
									a(href="#").main-production__link.main-production__link_all Всё пирожное
					// END MAIN-PRODUCTION__ITEM 
					// BEGIN MAIN-PRODUCTION__ITEM 
					.main-production__item
						.main-production__content
							.main-production__hover
								h3.main-production__subtitle Кексы
								p.main-production__text
									a(href="#").main-production__link Пирожное "9 Островов"
									br
									a(href="#").main-production__link Пирожное «Амели»
									br
									a(href="#").main-production__link Пирожное творожное «Rifota Crema»
									br
									a(href="#").main-production__link Пирожное "9 Островов"
									br
									a(href="#").main-production__link Пирожное «Амели»
									br
									a(href="#").main-production__link Пирожное творожное «Rifota Crema»
									br
									a(href="#").main-production__link.main-production__link_all Всё пирожное
					// END MAIN-PRODUCTION__ITEM 
			// END SIDE-CONTENT 
	// END MAIN-PRODUCTION 

	// BEGIN MAIN-ABOUT 
	.main-about
		.container
			// BEGIN SIDE-CONTENT 
			.side-content
				h2.main-about__title О нас
				p.main-about__text Кондитерская фабрика «9 Островов» — крупнейший производитель кондитерских изделий<br> в Свердловской области
			// END SIDE-CONTENT 
	// END MAIN-ABOUT 

	// BEGIN SOCIAL 
	.social
		.container
			// BEGIN SIDE-CONTENT 
			.side-content
				.colums
					.vk
						img(src="img/vk.png", alt="")
					.fb
						img(src="img/fb.png", alt="")
			// END SIDE-CONTENT 
	// END SOCIAL 



