extends ./template/template.jade

block title
	title Производство

block content
	.container
		// BEGIN SIDE-CONTENT 
		.side-content
			// BEGIN TITLE 
			.title
				h1.title__text Производство
			// END TITLE 

			// BEGIN DESCRIPTION 
			.description
				p.description__title.description__title_bold Сладкие шедевры ручной работы – многоярусные торты, настоящие сказочные истории из сахара и крема и веселые сюрпризы для Ваших любимых.
				p.description__text Воздушное тесто, нежные сливочные кремы и фруктовые муссы, свежие сочные ягоды и легкая йогуртовая начинка – сказочное сочетание ингредиентов и фантазийного декора тортов подарит истинное наслаждение всем любителям сладкого!
			// END DESCRIPTION 
		// END SIDE-CONTENT 

	// BEGIN PRODUCTION-BANNER 
	.production-banner
	// END PRODUCTION-BANNER 

	.container
		// BEGIN SIDE-CONTENT 
		.side-content
			// BEGIN WORKSHOP 
			.workshop
				.colums
					.col-w1
						// BEGIN WORKSHOP__CARD 
						.workshop__card.workshop__card_line_2
							a(href="#").workshop__link
								.workshop__preview
									span.workshop__title Кондитерский цех
						// END WORKSHOP__CARD 
					.col-w2
						.col-w-line
							.col-w50.col-w50_l
								// BEGIN WORKSHOP__CARD 
								.workshop__card.workshop__card_line_1
									a(href="#").workshop__link
										.workshop__preview
											span.workshop__title Кондитерский цех
								// END WORKSHOP__CARD 
							.col-w50.col-w50_r
								// BEGIN WORKSHOP__CARD 
								.workshop__card.workshop__card_line_1
									a(href="#").workshop__link
										.workshop__preview
											span.workshop__title Кондитерский цех
								// END WORKSHOP__CARD 
						.col-w-line
							// BEGIN WORKSHOP__CARD 
							.workshop__card.workshop__card_line_1
								a(href="#").workshop__link
									.workshop__preview
										span.workshop__title Кондитерский цех
							// END WORKSHOP__CARD 
					.col-w3
						.col-w-line
							// BEGIN WORKSHOP__CARD 
							.workshop__card.workshop__card_line_1
								a(href="#").workshop__link
									.workshop__preview
										span.workshop__title Кондитерский цех
							// END WORKSHOP__CARD 
						.col-w-line
							// BEGIN WORKSHOP__CARD 
							.workshop__card.workshop__card_line_1
								a(href="#").workshop__link
									.workshop__preview
										span.workshop__title Кондитерский цех
							// END WORKSHOP__CARD 
			// END WORKSHOP 


			// BEGIN EXCURSION-BANNER 
			.excursion-banner
				h2.excursion-banner__title ЭКСКУРСИЯ НА ПРОИЗВОДСТВО
				.sides
					.excursion-banner__image
						i.icon.icon_camera
					.excursion-banner__description

						p.excursion-banner__text Воздушное тесто, нежные сливочные кремы и фруктовые муссы, свежие сочные ягоды и легкая йогуртовая начинка – сказочное сочетание ингредиентов и фантазийного декора тортов подарит истинное наслаждение всем любителям сладкого!
						a(href="#").link-more Подробнее
							i.icon.icon_b-left.excursion-banner__left

			// END EXCURSION-BANNER 
		// END SIDE-CONTENT 