extends ./template/template.jade

block title
	title Акции и скидки

block content
	// BEGIN TITLE 
	.container
		.side-content
			.title
				h1.title__text Акции и скидки
	// END TITLE 


	// BEGIN ACTION 
	.action(style="background-image: url(img/action1.jpg)").action_left
		.container
			.side-content
				p.action__name
					span.action__name-text Акция
				.action__content
					h2.action__title ПРИ ОПТОВОМ ЗАКАЗЕ ПИРОЖНЫХ ПОЛУЧИТЕ СКИДКУ 10% НА СЛЕДУЮЩИЙ ЗАКАЗ!
					a(href="#").button.button_white.action__button Подробнее
					p.action__footnote * За более детальной информацией звоните к нам на горячую линию.
	// END ACTION 

	// BEGIN ACTION 
	.action(style="background-image: url(img/action2.jpg)").action_right
		.container
			.side-content
				p.action__name
					span.action__name-text Акция
				.action__content
					h2.action__title Кондитерской фабрике «Девять островов» <br>15 лет! Акция "Попади в пятнашку!”
					a(href="#").button.button_white.action__button Подробнее
					p.action__footnote * За более детальной информацией звоните к нам на горячую линию.
	// END ACTION 

	// BEGIN ACTION 
	.action(style="background-image: url(img/action1.jpg)").action_left
		.container
			.side-content
				p.action__name
					span.action__name-text Акция
				.action__content
					h2.action__title ПРИ ОПТОВОМ ЗАКАЗЕ ПИРОЖНЫХ ПОЛУЧИТЕ СКИДКУ 10% НА СЛЕДУЮЩИЙ ЗАКАЗ!
					a(href="#").button.button_white.action__button Подробнее
					p.action__footnote * За более детальной информацией звоните к нам на горячую линию.
	// END ACTION 

	// BEGIN ACTION 
	.action(style="background-image: url(img/action2.jpg)").action_right
		.container
			.side-content
				p.action__name
					span.action__name-text Акция
				.action__content
					h2.action__title Кондитерской фабрике «Девять островов» <br>15 лет! Акция "Попади в пятнашку!”
					a(href="#").button.button_white.action__button Подробнее
					p.action__footnote * За более детальной информацией звоните к нам на горячую линию.
	// END ACTION 