extends ./template/template.jade

block title
	title РАБОТА В КОМПАНИИ

block content
	.container
		// BEGIN SIDE-CONTENT 
		.side-content
			// BEGIN TITLE 
			.title
				h1.title__text РАБОТА В КОМПАНИИ
			// END TITLE 

			// BEGIN DESCRIPTION 
			.description
				p.description__title.description__title_bold «Кадры решают всё» -в наши дни этот известный лозунг становится все более актуальным: необходимо работать на опережение и готовиться к предстоящей борьбе за таланты, уделяя особое внимание молодым специалистам, помогая им развиваться.
				p.description__text Сотрудники нашего коллектива – главная ценность, мы ценим каждого кто приносит вклад в развитие и процветание нашей компании.
			// END DESCRIPTION 

			// BEGIN RESUME-BLOCK 
			.resume-block
				.sides
					.resume-block__side.resume-block__side_l
						form(action="/").resume-form
							h2.resume__title.resume-form__title Отправить резюме
							.resume-form__line
								input(type="text" placeholder="Ваше имя").input.resume-form__input
							.resume-form__line
								input(type="text").input.resume-form__input.input_date
							.resume-form__line
								select(name="").resume-form__select.select-nice.wide
									option(value="1") Претендуемая должность
									option(value="1") Логист
									option(value="1") Мойщик тары
									option(value="1") Логист
							.resume-form__line
								select(name="").resume-form__select.select-nice.wide
									option(value="1") Город
									option(value="1") Логист
									option(value="1") Мойщик тары
									option(value="1") Логист
							.resume-form__line
								p.resume-form__label Прикрепить резюме
								.file-upload.resume-form__file-upload
									button(type="button").file-upload__button Выберите файл
									span.file-upload__text Файл не выбран
									input(type="file").file-upload__file
							.resume-form__line
								button(type="submit").button.button_broun.resume-form__button Отправить

					.resume-block__side.resume-block__side_r
						h2.resume__title Каких сотрудников мы хотим видеть в нашей команде?
						p.resume__text У нас в Компании вас ждёт интересная работа, профессиональный коллектив и все возможности для самореализации!
						h3.resume__subtitle Мы вам рады, если:
						p.resume__text - Результат — ваш ориентир в ежедневной работе.<br>- Целеустремленность и инициатива — постоянные союзники.<br>- Ответственность — черта характера, впитанная с молоком матери.
						.resume-block__photos
							.resume-block__photo.resume-block__photo_l
								img(src="img/resume-photo1.jpg", alt="")
							.resume-block__photo.resume-block__photo_r
								img(src="img/resume-photo2.jpg", alt="")
			// END RESUME-BLOCK 

			// BEGIN VACANCY-BLOCK 
			.vacancy-block
				h2.vacancy-block__title Актуальные вакансии
				.colums
					.col-2.col-2-m.col-2-r
						// BEGIN VACANCY 
						.vacancy
							a(href="#").vacancy__link
								.vacancy__preview
									i.icon.icon_search-vacancy
								.vacancy__description
									p.vacancy__title Логист
									p.vacancy__price 30 000 руб.
						// END VACANCY 
					.col-2.col-2-m.col-2-r
						// BEGIN VACANCY 
						.vacancy
							a(href="#").vacancy__link
								.vacancy__preview
									i.icon.icon_search-vacancy
								.vacancy__description
									p.vacancy__title Мойщик тары
									p.vacancy__price 13 000 руб.
						// END VACANCY 
					.col-2.col-2-m.col-2-r
						// BEGIN VACANCY 
						.vacancy
							a(href="#").vacancy__link
								.vacancy__preview
									i.icon.icon_search-vacancy
								.vacancy__description
									p.vacancy__title Логист
									p.vacancy__price 30 000 руб.
						// END VACANCY 
					.col-2.col-2-m.col-2-r
						// BEGIN VACANCY 
						.vacancy
							a(href="#").vacancy__link
								.vacancy__preview
									i.icon.icon_search-vacancy
								.vacancy__description
									p.vacancy__title Логист
									p.vacancy__price 30 000 руб.
						// END VACANCY 
					.col-2.col-2-m.col-2-r
						// BEGIN VACANCY 
						.vacancy
							a(href="#").vacancy__link
								.vacancy__preview
									i.icon.icon_search-vacancy
								.vacancy__description
									p.vacancy__title Мойщик тары
									p.vacancy__price 13 000 руб.
						// END VACANCY 
					.col-2.col-2-m.col-2-r
						// BEGIN VACANCY 
						.vacancy
							a(href="#").vacancy__link
								.vacancy__preview
									i.icon.icon_search-vacancy
								.vacancy__description
									p.vacancy__title Логист
									p.vacancy__price 30 000 руб.
						// END VACANCY 
					.col-2.col-2-m.col-2-r
						// BEGIN VACANCY 
						.vacancy
							a(href="#").vacancy__link
								.vacancy__preview
									i.icon.icon_search-vacancy
								.vacancy__description
									p.vacancy__title Логист
									p.vacancy__price 30 000 руб.
						// END VACANCY 
					.col-2.col-2-m.col-2-r
						// BEGIN VACANCY 
						.vacancy
							a(href="#").vacancy__link
								.vacancy__preview
									i.icon.icon_search-vacancy
								.vacancy__description
									p.vacancy__title Мойщик тары
									p.vacancy__price 13 000 руб.
						// END VACANCY 
					.col-2.col-2-m.col-2-r
						// BEGIN VACANCY 
						.vacancy
							a(href="#").vacancy__link
								.vacancy__preview
									i.icon.icon_search-vacancy
								.vacancy__description
									p.vacancy__title Логист
									p.vacancy__price 30 000 руб.
						// END VACANCY 


				p.vacancy__all
					a(href="#").vacancy__all-link Все вакансии...
			// END VACANCY-BLOCK 


			// BEGIN CONFECTIONER-SCHOOL 
			.confectioner-school
				h2.confectioner-school__title “Девять островов” приглашает юношей и девушек в Школу кондитеров
				.sides
					.confectioner-school__side.confectioner-school__side_r
						img(src="img/school-preview.jpg", alt="")
					.confectioner-school__side.confectioner-school__side_l
						p.confectioner-school__text У нас в Компании вас ждёт интересная работа, профессиональный коллектив и все возможности для самореализации!

						p.confectioner-school__subtitle Мы предлагаем:
						ul.confectioner-school__list
							li.confectioner-school__item - Обучение профессии
							li.confectioner-school__item - 3-х разовое бесплатное питание
							li.confectioner-school__item - Официальное трудоустройство
							li.confectioner-school__item - Соц. пакет
							li.confectioner-school__item - Режим работы 5/2, с 8:00 до 17:00

			// END CONFECTIONER-SCHOOL 
		// END SIDE-CONTENT 
	// BEGIN ADDRES-BACKGROUND 
	.addres-background
		.container
			// BEGIN SIDE-CONTENT 
			.side-content
				.addres
					i.icon.icon_cap
					p.addres__title Мы - команда профессионалов своего дела!
					p.addres__addres Адрес: г. Среднеуральск, ул. Победы, 1.
					p.addres__phone 
						a(href="tel:+73433727150").addres__phone-link +7 (343) 372-71-50 (51)
					p.addres__email
						a(href="mailto:personal@9ostrovov.ru").addres__email-link personal@9ostrovov.ru
			// END SIDE-CONTENT 

	// END ADDRES-BACKGROUND 

